.modaless_underlay { display:none }
.awbasic-png { background-image: url("awbasic.png"); height: 16px; width: 16px }
.awedit-png { background-image: url("awedit.png"); height: 16px; width: 16px }
.awdraw-png { background-image: url("awdraw.png"); height: 16px; width: 16px }
.awsnap-png { background-image: url("awsnap.png"); height: 16px; width: 16px }
.awtoolbox-png { background-image: url("awtoolbox.png"); height: 16px; width: 16px }
.ok-png { background-image: url("ok.png"); height: 16px; width: 16px }